body {
	background-color: #232323;
	margin: 0px;
}

.inStripe {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	outline: none;
}

.inStripe:hover {
	color: white;
	background: steelblue;
}


h1 {
	background-color: steelblue;
	color: white;
	text-align: center;
	margin: 0px;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}

.selected {
	background-color: steelblue;
	color: white;
}

.square {
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.666%;
	border-radius: 10px;
	transition: background-color 0.6s;
	-webkit-transition: background-color 0.6s;
	-moz-transition: background-color 0.6s;
}
#container {
	max-width: 600px;
	margin: 20px auto;
}




#stripe {
	background-color: white;
	height: 30px;
	color: black;
	text-align: center;
}
#colorDisplay {
	font-size: 200%;
}

#messageDisplay {
	display: inline-block;
	width: 20%;
}
